h1 {
        text-align: center;
        color: white;
    }
body {
        font-family: Arial, sans-serif;
        background-size:cover;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }